@keyframes NoneToBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.overlay_opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: NoneToBlock 1s ease-in-out;
} 