.popup__form-name {
    width: 358px;
    margin-top: 44px;
    padding: 0 0 13px 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (min-width: 319px) and (max-width: 767px) {
    .popup__form-name {
        margin-top: 71px;
        width: 238px;
    }
}